body {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
  }

    .headIguana{
    top: 0px;
left: 0px;
width: 1280px;
height: 73px;
    text-align: center;
    font-family: Medium 50px/59px Raleway ;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1; 
    
}

.iguanaFont{
    display: inline-block;
    top: 73px;
    left: 0px;
    width: 1280px;
    height: 727px;
    background: transparent url('img/photo-1516008805996-d2abb468cc9a.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    
}

p{

left: 150px;
width: 475px;
height: 197px;
text-align: left;
font-family: Light 16px/19px Raleway;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;

}

.descSection{
    display: inline-block;
    top: 800px;
    left: 0px;
    width: 1280px;
    height: 348px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    column-count: 2;
}

.iguanaFont1{
    top: 845px;
left: 731px;
width: 399px;
height: 237px;
background: transparent url('img/photo-1492963892107-740cd39d9ff3.png') 0% 0% no-repeat padding-box;
opacity: 1;
}